.nav{
    background-color: #464660;
}
.nav .inner-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav .inner-wrap img{
    width: 130px;
    height: 80px;
    object-fit: cover;
}
.nav .inner-search input{
    padding: 10px;
    border-radius: 10px;
}
.nav .inner-menu ul{
    display: flex;
    
}
.nav .inner-menu ul li{
    
    font-size: 17px;
    font-weight: 600;
   
}
.nav .inner-menu ul li a{
    
    padding: 33px 7px;
    transition: all 0.6s;
    
    
   
}
.nav .inner-menu ul li a:hover{
    background-color: #FCBD34;
    color: #000;
}
.nav .inner-icon ul{
    display: flex;
    
}
.nav .inner-icon ul li i{
    font-size: 25px;
    color: #fff;
}
.nav .inner-icon ul li:nth-child(2){
   margin-left:  15px;
}
.sale{
    background-color: #FCBD34;
    padding: 20px 0;
    text-align: center;
}
/* Section one */
.section-one {
   
}
.section-one .inner-wrap{
    display: flex;
    background-color: var(--color-one);
}
.section-one .inner-left{
    padding: 30px;
    width: 30%;
    background-color: #346751;
}
.section-one .inner-left .Bestseller{
    font-size: 55px;
    color: #fff;
    text-align: center;
}
.section-one .inner-left  .titile{
    color: #B4B79A;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    margin-top: 30px;
}
.section-one .inner-right{
    flex: 1;
    display: flex;
    align-items: center;
    padding: 20px;
    
    
}
.section-one .inner-right .inner-image{
    width: 40%;
    
    padding: 30px;
}
.section-one .inner-right .inner-image img{
    width: 100%;
}
.section-one .inner-right .inner-content{
    flex: 1;
}
.section-one .inner-right .inner-content .titile{
    color: #346751;
    font-size: 30px;
    font-weight: 600;
}
.section-one .inner-right .inner-content .desc{
    margin-top: 30px;
    font-size: 22px;
}
.section-one .inner-right .inner-content .button1{
    margin-top: 30px;
}
/* inner-bottom */
.section-one .inner-bottom{
    display: flex;
    background-color: #fff;
    justify-content: space-evenly;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.section-one .inner-bottom .inner-box{
    display: flex;
    padding: 25px 0;
    width: 28%;
   
    
} 
.section-one .inner-bottom img{
    width: 50px;
    height: auto;
    object-fit: contain;
    margin-right: 20px;
}
.section-one .inner-bottom .titile{
    font-size: 18px;
    font-weight: bold;
}
.section-one .inner-bottom .desc{
    margin-top: 15px;
}
/*End inner-button */

/*End section one */
/* section two */
.section-two{
    margin-top: 50px;
    position: relative;
    padding-bottom: 50px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.section-two .inner-head{
    position: relative;
}
.section-two .inner-title{
    
    font-size: 30px;
    font-weight: 600;
    background-color: #fff;
    text-align: center;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 111;
    
}
.section-two .inline{
    width: 100%;
    height: 2px;
    background-color: #346751;
    position: absolute;
    top: 20px;
}
.section-two .inner-wrap{
    display: flex;
    flex-wrap: wrap;
    padding :50px;
    justify-content: space-between;
}
.section-two .inner-box{
    display: flex;
    width: 31%;
    margin-bottom: 15px;
}
.section-two .inner-box .inner-image {
    width: 40%;
    margin-right: 20px;
    aspect-ratio: 4/5;
}
.section-two .inner-box  img{
    width: 100%;
    height: 100%;
    border: #000 solid 1px;
    object-fit: contain;
}
.section-two .inner-box .inner-content{
    flex: 1;
}
.section-two .inner-box .inner-content .inner-desc{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}
.section-two .inner-box .inner-content .button a{
    background-color: #535579;
    padding : 10px;
    display: inline-block;
    border-radius: 10px;
    font-weight: 600    ;
}
.section-two .inner-box .inner-content .price{
    margin-right: 10px;
    font-weight: 600;
    font-size: 18px;
    display: inline-block;
    margin-bottom: 10px;

}
.section-two .inner-box .inner-content .discount{
    color: red;
    font-weight: 500;
    font-size: 18px;
} 
.section-two .view-all{
    text-align: center;
}
.section-two .view-all a{
    background-color: #C74B50;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
    padding: 15px 30px;
    border-radius: 10px;
}
/*End section two */

/* Section three */
.section-three{
    padding: 80px 0;
}
.section-three .inner-main{
    display: flex;
    justify-content: center;
    background-color: #EEEEEE;
}
.section-three .inner-box{
    width: 22%;
    margin-left: 70px;
    
}
.section-three .title{
    position: relative;
    text-align: center;
    margin-bottom: 40px;
}
.section-three .best-seller{
    font-size: 30px;
    font-weight: 600;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 1;
    background-color: white;
    
}
.section-three .inline{
    width: 100%;
    height: 2px;
    background-color: #346751;
    position: absolute;
    top: 20px;
    
}

.section-three .inner-box .inner-image{
    padding: 30px 0;
}
.section-three .inner-box img{
    width: 100%;
    aspect-ratio: 3/4;
    
}
.section-three .inner-box .inner-content {
    
    margin-bottom: -112px;
   
}
.section-three .inner-box .inner-content .bookCategory{
    font-size: 18px;
   margin-bottom: 10px;
}
.section-three .inner-box .inner-content .nameBook{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
}
.section-three .inner-box .inner-content .common{
    font-size: 18px;
    margin-right: 15px;
    color: red;
}
.section-three .inner-background{
    
    height: 100px;
    background-color: white;
}
/*End section three */
